@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Geologica:wght@200&family=Jost:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');


.menu{
	padding:0px;
	margin:0 auto;	
}
body{
	background-image: url("fonsganxet.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

#logo {
	width:120px;
	height:120px;
	border-radius: 239px;
	
}

header{
	display:flex; 
	text-align:center;
	flex-direction:column;
	margin-top:90px;
}

nav a{
	padding:25px;
	background-color:#8C454D;
	font-family:'Jost', sans-serif;
	font-size:16px;
	color:white;
	text-decoration:none;
	justify-content:center;
	
}
a:hover{
	background:#e4985c;
	padding:27px;	
}

h1{
	font-family: 'Jost', sans-serif;
	font-size:45px;
	color:black;
	justify-content:center;
	display:flex; 
	text-align:center;
	margin-top:40px
}


h3{
	font-family:'Jost', sans-serif;
	font-size:20px;
	color:black;
	justify-content:center;
	display:flex; 
	text-align:center;
	margin-top:130px
}



/*iPad Mini*/

@media screen and (min-height:1024px){
	figure{
		display:flex;
		justify-content: space-evenly;
	}		
	
	body{
	background-image: url("fonsganxet.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	}	
	
	.menu a{
	font-size:24px;
	padding:6px;
	}	
		
	
	#logo {
		width:90px;
		height:90px;
	}
	
	body h1{
		margin-top:10px;
		margin-bottom:100px;
		font-size:60px;
	}
}

/*Samsung*/

@media screen and (min-height:740px){
	figure{
		display:flex;
		justify-content: space-evenly;
	}		
		
	body{
	background-image: url("fonsganxet.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	}	
	
	body h1{
		margin-top:10px;
		margin-bottom:70px;
		font-size:40px;
	}
	
	nav a{
	font-size:10px;
	padding:6px;
	}	

	a:hover{
	padding:9px;	
}


#logo {
	width:90px;
	height:90px;
	
}

}

/*Petits*/

@media screen and (max-height:720px){
	figure{
		display:flex;
		justify-content: space-evenly;
	}		
	
	.menu a{
	font-size:10px;
	padding:6px;
	}	
		
	
	#logo {
		width:40px;
		height:40px;
	}
	
	body h1{
		margin-top:10px;
		margin-bottom:100px;
		font-size:40px;
	}
}
